@model IEnumerable<Hotel.Management.Services.ApartamentService.Dto.GetAllApratamentsOutput>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Apartamenty</h2>
<div>
    <table class="table">
        <thead class=" tab-pane">
            <tr>
                <th>Numer</th>
                <th class="text-center">Opis</th>
                <th>Ilość miejsc</th>
                <th>Piętro</th>
                <th>Cena za dobę</th>
                <th class="text-center">Status</th>
                
               
                <th>
                   
                </th>
                <th><a class="btn btn-outline-success float-right" asp-action="Create">Dodaj apartament</a></th>



            </tr>
        </thead>
        <tbody class="tab-content">
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Description</td>
                    <td>@item.PeopleCount</td>
                    <td>@item.Floor</td>
                    <td>@item.PriceForDay</td>
                    
                    @if(@item.Status == "Dostępny")
                    {
                        <td class="bg-success text-white text-center">@item.Status</td>
                        <td>
                            <a class="btn btn-link text-secondary float-right" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        </td>
                        <td>
                            <a class="btn btn-link text-danger float-right" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    }
                    else
                    {
                        <td class="bg-secondary text-center"> <a class="btn btn-link btn-secondary  text-white" asp-controller="Book" asp-action="Info" asp-route-id="@item.Id">@item.Status</a></td>
                         <td><a class="btn btn-link text-secondary float-right" asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Zmień</a></td>
                         <td><a class="btn btn-link text-danger float-right" asp-controller="Book" asp-action="Close" asp-route-id="@item.Id">Zakończ</a></td>
                    }                    
                   
                    
                    
                   
                </tr>
            }
        </tbody>
    </table>
</div>

