@model Hotel.Management.Services.ApartamentBookingService.Dto.GetApartamentBookingInfo
<h3>Rezerwacja</h3>
<h5>Imię i nazwisko: @Model.ClientName</h5>
<h5>Adres mail: @Model.Email</h5>
<h5>Telefon: @Model.Phone</h5>
<h5>Cena pobytu: @Model.Cost</h5>
<h5>Czas rezerwacji: @Model.DateBoking</h5>
